{% block body %}
    <nav class="flex justify-center">
        <div class="flex items-center p-2 bg-base-100 fixed top-0 w-full sm:w-3/4 rounded shadow z-10">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl" href="{{ path('app_main') }}">Projet sortir</a>
            </div>

            {% if app.user %}
                <div class="hidden sm:flex gap-2">
                    <a class="btn btn-outline btn-primary mx-2" href="{{ path('outing_create') }}">Créer une sortie</a>
                    <a class="btn btn-outline btn-primary mx-2" href="{{ path('outing_list') }}">Voir les sorties</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-outline btn-primary mx-2" href="{{ path('app_signup_with_csv') }}">Importer utilisateurs via CSV</a>
                        <a class="btn btn-outline btn-primary mx-2" href="{{ path('app_signup') }}">Créer un compte utilisateur</a>
                    {% endif %}
                </div>

                <div class="flex-none gap-2">
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                            <div class="w-10 rounded-full">
                                {% if app.user.imgPath != null %}
                                    <div class="mb-3">
                                        <img src="{{ asset('uploads/profile_image/' ~ app.user.imgPath ) }}" alt="Image profile">
                                    </div>
                                {% else %}
                                    <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                                {% endif %}
                            </div>
                        </div>
                        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                            <li>
                                <a class="justify-between" href="{{ path('app_user') }}">
                                    Profil
                                    <span class="badge">Nouveau</span>
                                </a>
                            </li>
                            <li><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-active btn-primary" href="{{ path('app_login') }}">Me connecter</a>
            {% endif %}
        </div>
    </nav>

    <!-- Menu mobile -->
    <div class="sm:hidden flex items-center justify-between p-2 bg-base-100 fixed top-0 w-full shadow z-10">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="{{ path('app_main') }}">Projet sortir</a>
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box mt-3 w-52 p-2 shadow">
                {% if app.user %}
                    <li><a href="{{ path('outing_create') }}">Créer une sortie</a></li>
                    <li><a href="{{ path('outing_list') }}">Voir les sorties</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_signup_with_csv') }}">Importer utilisateurs via CSV</a></li>
                        <li><a href="{{ path('app_signup') }}">Créer un compte utilisateur</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_user') }}">Profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Me connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
