{% block body %}
    <section class="container">
        {{ form_start(outingForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <h3 class="font-semibold text-2xl text-gray-800 text-center my-10">Préparer une sortie</h3>
        <div class="flex justify-between w-100">
        <div>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">Nom de la sortie</span>
            </div>
            <input name="{{ field_name(outingForm.name) }}"
                   value="{{ field_value(outingForm.name) }}"
                   type="text"
                   placeholder="{{ field_label(outingForm.name) }}"
                   class="input input-bordered w-full max-w-xs"/>
            {{ form_errors(outingForm.name) }}
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">Info. sur la sortie</span>
            </div>
            <textarea name="{{ field_name(outingForm.outingInfo) }}"
                      placeholder="{{ field_label(outingForm.outingInfo) }}"
                      class="textarea textarea-bordered h-24">{{ field_value(outingForm.outingInfo) }}</textarea>
        </label>
            <div class="flex items-end ">
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Lieu</span>
                    </div>
                    {{ form_widget(outingForm.location, { 'attr': { 'class': 'select select-bordered w-full max-w-xs' } }) }}
                    {{ form_errors(outingForm.location) }}
                </label>
                <button type="button" class="btn btn-primary ml-2">
                    <a class="text-xs " href="{{ path('location_create') }}">
                        <i class="fas fa-plus"></i> Ajouter un lieu
                    </a>
                </button>
            </div>
            <label class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Campus</span>
                </div>
                {{ form_widget(outingForm.campus, { 'attr': { 'class': 'select select-bordered w-full max-w-xs' } }) }}
                {{ form_errors(outingForm.campus) }}
            </label>
            <div class="flex gap-10 p-2 px-1">
                <span class="label-text">{{ field_label(outingForm.private) }}</span>
                {{ form_widget(outingForm.private) }}
            </div>
            <div class="hidden mt-[-10px]" id="private-group-container">
                <div class="label">
                    <span class="label-text">{{ field_label(outingForm.privateGroup) }}</span>
                </div>
                <div class="flex align-center gap-2">
                    {{ form_widget(outingForm.privateGroup) }}
                    <a href="{{ path('app_private_group_create', {redirection: {label: 'Retour a la creation de sortie', url: path('outing_create')}}) }}" class="btn btn-primary btn-sm text-xs"><i class="fas fa-plus"></i> Créer un groupe</a>
                </div>
            </div>
            <script>
                const enableToggleGroupSelect = ()=>{
                    const privateGroupSelect = document.getElementById('outing_private');
                    const privateGroupContainer = document.getElementById('private-group-container');

                    if(!privateGroupSelect || !privateGroupContainer)return;

                    privateGroupSelect.addEventListener('change', ({target: {checked}})=>privateGroupContainer.classList[checked?'remove':'add']('hidden'))
                }
                document.addEventListener('turbo:load', enableToggleGroupSelect);
                document.addEventListener('turbo:render', enableToggleGroupSelect);
            </script>
        </div>
            <div class="divider lg:divider-horizontal"></div>
            <div>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">Date de début</span>
            </div>
            <input name="{{ field_name(outingForm.startDate) }}"
                   value="{{ field_value(outingForm.startDate) }}"
                   type="datetime-local"
                   placeholder="{{ field_label(outingForm.startDate) }}"
                   class="input input-bordered w-full max-w-xs"
                   required="required"
            />
            {{ form_errors(outingForm.startDate) }}
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">Date max. d'inscription</span>
            </div>
            <input name="{{ field_name(outingForm.registrationMaxDate) }}"
                   value="{{ field_value(outingForm.registrationMaxDate) }}"
                   type="datetime-local"
                   placeholder="{{ field_label(outingForm.registrationMaxDate) }}"
                   class="input input-bordered w-full max-w-xs"
                   required="required"/>
            {{ form_errors(outingForm.registrationMaxDate) }}
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">Durée en min.</span>
            </div>
            <input name="{{ field_name(outingForm.duration) }}"
                   value="{{ field_value(outingForm.duration) }}"
                   type="number"
                   min="0"
                   placeholder="{{ field_label(outingForm.duration) }}"
                   class="input input-bordered w-full max-w-xs"/>
            {{ form_errors(outingForm.duration) }}
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">Nb. max d'inscription</span>
            </div>
            <input name="{{ field_name(outingForm.maxInscriptions) }}"
                   value="{{ field_value(outingForm.maxInscriptions) }}"
                   type="number"
                   min="0"
                   placeholder="{{ field_label(outingForm.maxInscriptions) }}"
                   class="input input-bordered w-full max-w-xs"/>
            {{ form_errors(outingForm.maxInscriptions) }}
        </label>

                <button type="submit" class="btn btn-primary my-2">{{ button_label|default('Créé une sortie') }}</button>

            </div>
        </div>
        {{ form_end(outingForm) }}
    </section>
{% endblock %}