{% extends 'base.html.twig' %}

{% block title %}Préparer une sortie{% endblock %}

{% block body %}
    <h2>Préparer une sortie</h2>

    {{ form_start(outingForm) }}
        {{ form_row(outingForm.name) }}
        {{ form_row(outingForm.startDate) }}
        {{ form_row(outingForm.duration) }}
        {{ form_row(outingForm.registrationMaxDate) }}
        {{ form_row(outingForm.maxInscriptions) }}
        {{ form_row(outingForm.outingInfo) }}
        {{ form_row(outingForm.location) }}
        <button type="button" ><a href={{ path('location_create') }}><strong>+</strong></a></button>
        {{ form_row(outingForm.campus) }}

        <button type="submit">Créer une sortie</button>
    {{ form_end(outingForm) }}
{% endblock %}