{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    {% if(is_granted('ROLE_USER')) %}
    {{ form_start(form) }}
    <div>
        <div class="row" >
            <label for="{{ field_name(form.campus) }}">site: </label>
            <select id="{{ field_name(form.campus) }}" name="{{ field_name(form.campus) }}">
                {% for label, value in field_choices(form.campus) %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <label for="nameSearch">Le nom de la sortie contient: </label>
            <input type="text" id="{{ field_name(form.nameSearch) }}" name="{{ field_name(form.nameSearch) }}" value="{{ field_value(form.nameSearch) }}"/>
        </div>

        <div class="row">
            <label for="{{ field_name(form.startsAfter) }}">Entre</label>
            <input type="datetime-local" id="{{ field_name(form.startsAfter) }}" name="{{ field_name(form.startsAfter) }}" value="{{ field_value(form.startsAfter) }}">
            <label for="{{ field_name(form.startsBefore) }}">et</label>
            <input type="datetime-local" id="{{ field_name(form.startsBefore) }}" name="{{ field_name(form.startsBefore) }}" value="{{ field_value(form.startsBefore) }}">
        </div>
    </div>

    <div class="flex column">
        {{ form_widget(form.userOrganizer) }}
        {{ form_label(form.userOrganizer) }}

        {{ form_widget(form.userRegistered) }}
        {{ form_label(form.userRegistered) }}

        {{ form_widget(form.outingPast) }}
        {{ form_label(form.outingPast) }}

    </div>

    <input type="submit" id="{{ field_name(form.find) }}" name="{{ field_name(form.find) }}" value="Rechercher">

    {{ form_end(form) }}
    {% endif %}
    <hr>

    <ul>
        {% for outing in outings %}
            <li><a href="{{ path('outing_details', {id: outing.id}) }}">{{ outing.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
