{% extends 'base.html.twig' %}

{% block title %}Créer un compte utilisateur{% endblock %}

{% block body %}
    <div class="flex justify-center items-center min-h-screen bg-gray-100">
        <div class="p-8 bg-white rounded-xl w-full max-w-lg shadow-xl">
            <div class="mb-6 text-center">
                <h3 class="font-semibold text-2xl text-gray-800">Créer un compte utilisateur</h3>
            </div>

            {{ form_start(signupForm) }}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="flex flex-col space-y-4">
                    <div>
                        <label for="{{ field_name(signupForm.firstname) }}" class="label text-sm font-medium text-gray-700">Prénom</label>
                        <input name="{{ field_name(signupForm.firstname) }}"
                               value="{{ field_value(signupForm.firstname) }}"
                               type="text"
                               placeholder="{{ field_label(signupForm.firstname) }}"
                               class="input input-bordered w-full max-w-xs mt-2 p-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        {{ form_errors(signupForm.firstname) }}
                    </div>

                    <div>
                        <label for="{{ field_name(signupForm.lastname) }}" class="label text-sm font-medium text-gray-700">Nom</label>
                        <input name="{{ field_name(signupForm.lastname) }}"
                               value="{{ field_value(signupForm.lastname) }}"
                               type="text"
                               placeholder="{{ field_label(signupForm.lastname) }}"
                               class="input input-bordered w-full max-w-xs mt-2 p-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        {{ form_errors(signupForm.lastname) }}
                    </div>

                    <div>
                        <label for="{{ field_name(signupForm.phone) }}" class="label text-sm font-medium text-gray-700">Téléphone</label>
                        <input name="{{ field_name(signupForm.phone) }}"
                               value="{{ field_value(signupForm.phone) }}"
                               type="text"
                               placeholder="{{ field_label(signupForm.phone) }}"
                               class="input input-bordered w-full max-w-xs mt-2 p-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        {{ form_errors(signupForm.phone) }}
                    </div>
                </div>

                <div class="flex flex-col space-y-4">
                    <div>
                        <label for="{{ field_name(signupForm.email) }}" class="label text-sm font-medium text-gray-700">Email</label>
                        <input name="{{ field_name(signupForm.email) }}"
                               value="{{ field_value(signupForm.email) }}"
                               type="text"
                               placeholder="{{ field_label(signupForm.email) }}"
                               class="input input-bordered w-full max-w-xs mt-2 p-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        {{ form_errors(signupForm.email) }}
                    </div>

                    <div>
                        <label for="{{ field_name(signupForm.password.first) }}" class="label text-sm font-medium text-gray-700">Mot de passe</label>
                        <input name="{{ field_name(signupForm.password.first) }}"
                               value="{{ field_value(signupForm.password.first) }}"
                               type="password"
                               placeholder="{{ field_label(signupForm.password.first) }}"
                               class="input input-bordered w-full max-w-xs mt-2 p-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                        {{ form_errors(signupForm.password.first) }}
                    </div>

                    <div>
                        <label for="{{ field_name(signupForm.password.second) }}" class="label text-sm font-medium text-gray-700">Confirmer le mot de passe</label>
                        <input name="{{ field_name(signupForm.password.second) }}"
                               value="{{ field_value(signupForm.password.second) }}"
                               type="password"
                               placeholder="{{ field_label(signupForm.password.second) }}"
                               class="input input-bordered w-full max-w-xs mt-2 p-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>
                </div>
            </div>

            <div class="mt-6">
                {{ form_row(signupForm.save, { 'attr' : { 'class': 'btn btn-active btn-primary w-full p-3 rounded-full text-white shadow-lg hover:bg-white hover:text-gray-500 transition ease-in duration-500' } }) }}
            </div>

            {{ form_end(signupForm) }}
        </div>
    </div>
{% endblock %}
