{% extends 'base.html.twig' %}

{% block title %}Hello SignupController!{% endblock %}

{% block body %}

    <div>
        <div class="flex justify-center items-center self-center  z-10 h-dvh">
            <div class="p-12 bg-white mx-auto rounded-2xl w-100 shadow-xl">

                <div class="mb-4">
                    <h3 class="font-semibold text-2xl text-gray-800">S'inscire </h3>
                </div>

                {{ form_start(signupForm) }}

                <div class="flex">
                    <div class="m-2">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Prénom</span>
                            </div>
                            <input name="{{ field_name(signupForm.firstname) }}"
                                   value="{{ field_value(signupForm.firstname) }}"
                                   type="text"
                                   placeholder="{{ field_label(signupForm.firstname) }}"
                                   class="input input-bordered w-full max-w-xs"/>
                            {{ form_errors(signupForm.firstname) }}
                        </label>

                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Nom</span>
                            </div>
                            <input name="{{ field_name(signupForm.lastname) }}"
                                   value="{{ field_value(signupForm.lastname) }}"
                                   type="text"
                                   placeholder="{{ field_label(signupForm.lastname) }}"
                                   class="input input-bordered w-full max-w-xs"/>
                            {{ form_errors(signupForm.lastname) }}
                        </label>

                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Téléphone</span>
                            </div>
                            <input name="{{ field_name(signupForm.phone) }}"
                                   value="{{ field_value(signupForm.phone) }}"
                                   type="text"
                                   placeholder="{{ field_label(signupForm.phone) }}"
                                   class="input input-bordered w-full max-w-xs"/>
                            {{ form_errors(signupForm.phone) }}
                        </label>
                    </div>
                    <div class="m-2">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Email</span>
                            </div>
                            <input name="{{ field_name(signupForm.email) }}"
                                   value="{{ field_value(signupForm.email) }}"
                                   type="text"
                                   placeholder="{{ field_label(signupForm.email) }}"
                                   class="input input-bordered w-full max-w-xs"/>
                            {{ form_errors(signupForm.email) }}
                        </label>

                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Password</span>
                            </div>
                            <input name="{{ field_name(signupForm.password.first) }}"
                                   value="{{ field_value(signupForm.password.first) }}"
                                   type="password"
                                   placeholder="{{ field_label(signupForm.password.first) }}"
                                   class="input input-bordered w-full max-w-xs"/>
                            {{ form_errors(signupForm.password.first) }}
                        </label>
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Confirmer le mot de passe</span>
                            </div>
                            <input name="{{ field_name(signupForm.password.second) }}"
                                   value="{{ field_value(signupForm.password.second) }}"
                                   type="password"
                                   placeholder="{{ field_label(signupForm.password.second) }}"
                                   class="input input-bordered w-full max-w-xs"/>
                        </label>

                        {{ form_row(signupForm.save,{ 'attr' : { 'class': 'w-full flex justify-center btn btn-active btn-primary  hover:bg-white hover:text-gray-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500 my-2' } }) }}
                    </div>
                </div>
                {{ form_end(signupForm) }}
            </div>
        </div>
    </div>
{% endblock %}
